/* Variables */
:root {
  /* Colours - Branding */
  --brand-1:       rgb(197, 0, 74);
  --brand-1-dark:  rgb(127, 0, 54);
  --brand-2:       rgb(28, 115, 233);
  --brand-2-dark:  rgb(26, 27, 166);
  /* Colours - Tones */
  --tone-0:  #fff;
  --tone-10: #eee;
  --tone-20: #ccc;
  --tone-40: #999;
  --tone-60: #666;
  --tone-80: #333;
  --tone-100:#000;
  --trans-white: rgba(255,255,255,0.95);
  --trans-black: rgba(0,0,0,0.5);
  /* Layout - Sizes */
  --spacing-tiny: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1rem;
  --spacing-xlarge: 1.5rem;
  --spacing-xxlarge: 2rem;
  --spacing-xxlarge: 4rem;
  --spacing-container: 62rem;
  --spacing-container-narrow: 48rem;
  --spacing-container-wide: 76rem;
  /* Typography - Sizes */
  --headline: 3rem;
  --subheadline: 2.2rem;
  --h1: 1.8rem;
  --h2: 1.6rem;
  --h3: 1.4rem;
  --h4: 1.2rem;
  --h5: var(--h4);
  --h6: var(--h4);
  /* Typography - Fonts */
}
/* Resets */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: serif;
  color: var(--tone-80);
  background-color: var(--tone-0);
}

/* Defaults - Typography */
h1 {font-size: var(--h1);}
h2 {font-size: var(--h2);}
h3 {font-size: var(--h3);}
h4 {font-size: var(--h4);}
h5 {font-size: var(--h5);}
h6 {font-size: var(--h6);}
.headline {
  font-size: var(--h1);
}
@media screen and (min-width: 48em) {
  .headline {
    font-size: var(--headline);
  }
}

/* Helpers */
.w-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Containers */
.tmpl-page,
.tmpl-post {
  max-width: var(--spacing-container);
  margin: var(--spacing-large) auto;
  padding: var(--spacing-large);
}

/* Header */
/* Header - Branding */
.header-branding {
  text-align: center;
  background: var(--trans-white);
  padding: 0 var(--spacing-large);
}
.header-branding .header-branding-title {
  font-size: var(--h4);
  margin: 0;
  line-height: 2.5rem;
  height: 2.5rem;
}
.header-branding a[href] {
  text-decoration: none;
  color: var(--brand-1);
}
.header-branding a[href]:hover {
  color: var(--brand-1-dark);
}

/* Footer */

/* Links */
a[href] {
  color: var(--brand-2);
  text-decoration: none;
  font-weight: bold;
}
a[href]:hover {
  text-decoration: underline;
  text-decoration-color: #EA215A;
}
a[href]:visited {
  /* color: var(--brand-2-dark); */
}


/* Header - Nav(s) */
.header-nav {
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 var(--spacing-large);
  top: 2.5rem; /* for position: sticky */
  background: var(--trans-white);
}
.sub-header-nav {
  top: 5rem; /* for position: sticky */
}
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-item {
  margin: 0 var(--spacing-tiny);
}
.nav-item a {
  padding: var(--spacing-tiny) var(--spacing-small);
  line-height: 1;
}
.nav-item a[href]:not(:hover) {
  /* text-decoration: none; */
}
.nav-item-active a {
  color: var(--brand-1);
  /* text-decoration: underline; */
  /* background: var(--brand-2-light); */
}

/* Components - Shared */
.cmpnt {
  padding: var(--spacing-large) 0;
}
.cmpnt + .cmpnt {
  padding-top: 0;
}


/* Components - Intro */
.cmpnt-intro {
  text-align: center;
  padding: var(--spacing-xxlarge) var(--spacing-large);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--tone-10);
  overflow: hidden;
  min-height: 20vh;
}
.cmpnt-intro-title {
  /* max-width: 12em; */
  color: var(--tone-60);
  max-width: var(--spacing-container-narrow);
  margin: 0;
}


/* Components - Contact Card */
.cmpnt-contact-card {
  text-align: center;
  font-size: var(--h3);
}
.contact-card-avatar {
  width: 250px;
  height: 250px;
  background: var(--brand-1);
  border-radius: 50%;
  padding: var(--spacing-medium);
  border: solid var(--spacing-medium) var(--brand-1-dark);
  box-shadow: inset 0 1px 3px #000;
}
.cmpnt-contact-card strong {
  font-size: var(--h4);
  color: var(--tone-40);
  display: block;
  margin-bottom: var(--spacing-small);
}



/* Posts */
/* Posts - Single post */
.post-description {
  color: var(--tone-40);
  margin: var(--spacing-large) auto;
  font-size: var(--subheadline);
  width: 75%;
  max-width: 16em;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}
.post-header .postlist-date {
  font-size: var(--h3);
}
.post-header .postlist-metadata {
  text-align: center;
  /* margin: var(--spacing-xlarge) 0  var(--spacing-xxlarge); */
}
.post-header .post-description + .postlist-metadata {
  margin-bottom: var(--spacing-xxlarge)
}
.post-header .postlist-metadata li {
  /* display: block; */
  /* margin-bottom: var(--spacing-medium); */
}
/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  margin: var(--spacing-xlarge) 0;
}
.postlist-item-excerpt {
  line-height: 1.5;
}
.postlist-item-description,
.postlist-item-description + p {
  /* display: inline; */
  margin: 0 auto var(--spacing-small) auto;
}
.postlist-item-description {
  color: var(--tone-40);
  margin: var(--spacing-small) auto;
  font-size: var(--h4);
  font-style: italic;
  /* font-weight: bold; */
}
.postlist-item-excerpt > *:last-child {
  margin-bottom: 0;
}
.postlist-item:not(:last-child) {
  padding-bottom: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);
  border-bottom: solid 1px var(--tone-10);
}
.postlist-item h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
}
.postlist-metadata {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--spacing-large) 0;
}
.postlist-metadata li {
  display: inline-block;
  line-height: 1;
  color: var(--tone-40);
}
.postlist-date {
  font-style: italic;
}

/* Tags */
a[href].tag {
  display: inline-block;
  margin-left: var(--spacing-small);
  border-radius: var(--spacing-small);
  background-color: var(--brand-1);
  color: var(--tone-0);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}
a[href].tag:hover,
a[href].tag:focus {
  background-color: var(--brand-1-dark);
  text-decoration: none;
}



/* Footer Navs */
.cmpnt-footer-nav {
  background-color: var(--tone-10);
  padding: var(--spacing-medium);
}