---
layout: layouts/home.njk
title: I build accessible and easy to use stuff.
---

<h1>Latest Blog Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<div class="cmpnt cmpnt-footer-nav">
  <p>Browse <a href="{{ '/blog/' | url }}">the Blog</a>.</p>
</div>