---
layout: layouts/base.njk
templateClass: tmpl-page
---

<div class="post-header">

    <ul class="postlist-metadata">
        <li>
        {% for tag in tags %}
            {%- if tag != "posts" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
        </li>
    </ul>

</div>

{{ content | safe }}
